body {
    background-image: url("../images/train-station.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.width {
    width: 75%
}

h1, p {
    text-align: center;
}

.opacity {
    opacity: 0.88;
}

